
<div class="container">
  <ul class="list-inline">
    <li>
      <h4>
        <p class="text-left"> Evaluación Preoperatoria realizada el <%= corevaluation.updated_at %></p>
      </h4>
    </li>
    <li>
       Evaluado por <%= corevaluation.user_id %>
    </li>
  </ul>

  <table class="table">

    <thead>
    <tr>
      <th>Causa hepatopatia:</th>
      <th>Pxif:</th>
      <th>Meld:</th>
      <th>Melde:</th>
      <th>Child:</th>
      <th>Asa:</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= corevaluation.causa_hepatopatia %></td>
        <td> <%= corevaluation.pxif %></td>
        <td><%= corevaluation.meld %></td>
        <td> <%= corevaluation.melde %></td>
        <td><%= corevaluation.child %></td>
        <td><%= corevaluation.asa %></td>
       </tr>
    </tbody>
   <thead>
    <tr>
     <th>Maximos riesgos:</th>
     <th>Ingresa lista:</th>
     <th>Causa no ingreso</th>
     <th>Estudios pendietes ingreso:</th>
     <th>Candidato fastrack:</th>
     <th>Candidato tranexamico:</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= corevaluation.maximos_riesgos %></td>
        <td> <%= corevaluation.ingresa_lista %></td>
        <td><%= corevaluation.causa_no_ingreso %></td>
        <td><%= corevaluation.estudios_pendientes %></td>
        <td><%= corevaluation.candidato_fastrack %></td>
        <td><%= corevaluation.candidato_tranexamico %></td>
      </tr>
    </tbody>
  </table>


<% if user_signed_in? %>

    <% if corevaluation.user_id == current_user.id %>

      <div class="links btn-group">

        <%= link_to "Editar", edit_patient_corevaluation_path(corevaluation.patient, corevaluation), class: "btn btn-custom" %>
        <%= link_to "Eliminar", patient_corevaluation_path(corevaluation.patient, corevaluation), method: :delete, data: {confirm: "Esta seguro ?"}, class: "btn btn-custom" %>
 
      </div>
    
    <% end %> 

  <% end %>


