<div class="col-md-6 col-md-offset-3">

<h1>Editar Datos Generales de la evaluacion del paciente</h1>

<%= simple_form_for ([@patient, @corevaluation]) do |f| %>
  
    
	<div>
	    Causa de la Hepatopatia
	    <%= f.select(:causa_hepatopatia, options_for_select(['Alcoholica','Autoinmune', 'Cirrosis Biliar Primaria', 'Cirrosis Biliar Secundaria', 'Hepatitis B', 'Neoplasma', 'Sin aclarar']), {}, {class: "form-control"}) %>
  	</div>


    <%= f.input :peso %>
	<%= f.input :talla %>
    <%= f.input :pxif %>
    <%= f.input :meld %>
    <%= f.input :melde %>

    <div>
	    Child
	    <%= f.select(:child, options_for_select(['A','B', 'C']), {}, {class: "form-control"}) %>
	    ASA
	    <%= f.select(:asa, options_for_select(['I','II', 'III', 'IV']), {}, {class: "form-control"}) %>
  	</div>

    <%= f.input :maximos_riesgos %>
    <%= f.input :ingresa_lista %>
    <%= f.input :causa_no_ingreso %>
    <%= f.input :estudios_pendientes %>
    <%= f.input :candidato_fastrack %>
    <%= f.input :candidato_tranexamico %>
  
	<div>
		<%= f.submit('Confirmar', class: 'btn btn-primary') %>|
		<%= link_to 'Atras', patients_path, class: 'btn btn-default' %>
	</div>

<% end %>

</div>
