<p id="notice"><%= notice %></p>

<br>
<br>

    <%= search_form_for @q do |f| %>
                  <%= f.label :apellido_cont, "Buscar por apellido" %>
                <%= f.search_field :apellido_cont %>
                <%= f.label :ci_cont, "Buscar por CI" %>
                <%= f.search_field :ci_cont %>
                <%= f.submit('Buscar', class: 'btn btn-primary') %>
    <% end %>

<br>
<br>
<div>
  <% if user_signed_in? %>
    <%= button_to "Ingresar Paciente nuevo al sistema", new_patient_path, :method => "get", class: 'btn btn-primary' %>
  <% end %>
</div>

<h2>Pacientes Ingresados al Sistema</h2>

<table class="responsive-table", class="striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :apellido, "Apellido") %> </th>
      <th><%= sort_link(@q, :nombre, "Nombre") %></th>
      <th><%= sort_link(@q, :ci, "CI") %></th>
      <th><%= sort_link(@q, :sexo, "Sexo") %></th>
      <th><%= sort_link(@q, :f_nacimiento, "F Nacimiento") %></th>
      <th><%= sort_link(@q, :procedencia, "Procedencia") %></th>
      <th><%= sort_link(@q, :created_at, "Fecha Ingreso") %></th>
      <th><%= sort_link(@q, :user_id, "Ingresado por") %></th>
    </tr>
  </thead>

  <tbody>

    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.apellido, patient%></td>
        <td><%= link_to patient.nombre, patient%></td>
        <td><%= patient.ci %></td>
        <td><%= patient.sexo %></td>
        <td><%= patient.f_nacimiento%></td>
        <td><%= patient.procedencia%></td>
        <td><%= patient.created_at%></td>
        <td><%= patient.user_id%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

