<div class="container">
  <ul class="list-inline">
    <li>
      <h2>
        <p class="text-left">Paciente: </p>
      </h2>
    </li>
    <li>
      <h3>
        <p class="text-right"><%= @patient.nombre %> <%= @patient.apellido %></p>
      </h3>
     <li>
       Ingresado por <%= @patient.user_id %>

    </li>
  </ul>
  <table class="responsive-table">
    <thead>
    <tr>
      <th>CI</th>
      <th>Fecha Nacimiento</th>
      <th>Sexo</th>
      <th>Prestador</th>
      <th>Procedencia</th>
      <th>Fecha Ingreso</th>
      <th>Fnr</th>
      <th></th>
    </tr>

    </thead>

    <tbody>
      <tr>
        <td><%= @patient.ci %></td>
        <td><%= @patient.f_nacimiento %></td>
        <td><%= @patient.sexo %></td>
        <td><%= @patient.prestador %></td>
        <td><%= @patient.procedencia %></td>
        <td><%= @patient.f_ingreso %></td>
        <td><%= @patient.fnr %></td>
       </tr>
		  
    </tbody>
  </table>

	<table class="responsive-table">
		<tbody>
				<tr>
				   <td><%= @patient.comentarios %></td>
				</tr>
			
		</tbody>	
	</table>

</div class="row">

 
  <% if user_signed_in? %>

    <% if @patient.user_id == current_user.id %>
      
      <%= link_to "Editar", edit_patient_path(@patient), class: 'btn btn-warning' %>
      <%= link_to "Eliminar", patient_path(@patient), method: :delete, data: {confirm: "Esta seguro?"}, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</div>


  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Datos Generales</div>
      <div class="collapsible-body">
       <%= link_to "Ingresar datos generales", new_patient_corevaluation_path(@patient), class: 'btn btn-warning' %>
         <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
          <%= render @patient.corevaluations %></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>xxxx</div>
      <div class="collapsible-body"><p>texto</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>xxxxx</div>
      <div class="collapsible-body"><p>texto</p></div>
    </li>
  </ul>

<script>
 $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
<script>
  $('.collapsible').collapsible({
      accordion: false, // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      onOpen: function(el) { alert('Open'); }, // Callback for Collapsible open
      onClose: function(el) { alert('Closed'); } // Callback for Collapsible close
    }
</script>

  );
        
        



