
  <ul class="list-inline">
    <li>
      <h4>
        <p class="text-left"> Evaluación Preoperatoria realizada el <%= antecedent_hepatic.updated_at %></p>
      </h4>
    </li>
    <li>
       Evaluado por <%= antecedent_hepatic.user_id %>
    </li>
  </ul>

  <table class="responsive-table", class="striped">

    <thead>
    <tr>
      <th>Sind. Hepatorrenal</th>
      <th>Sind. Hepatopulmonar</th>
      <th>HT Pulmonar</th>
      <th>HT Portal</th>
      <th>Ascitis</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= antecedent_hepatic.s_hepatorrenal %></td>
        <td> <%= antecedent_hepatic.s_hepatopulmonar %></td>
        <td><%= antecedent_hepatic.ht_pulmonar %></td>
        <td> <%= antecedent_hepatic.ht_portal %></td>
        <td><%= antecedent_hepatic.ascitis %></td>
       </tr>
    </tbody>
   <thead>
    <tr>
     <th>Esplenomegalia</th>
     <th>Varices Esofagicas<th>
     <th>Encefalopatia</th>
     <th>Discrasia</th>
     <th>Hiponatremia</th>

    </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= antecedent_hepatic.esplenomeg %></td>
        <td> <%= antecedent_hepatic.varices_esof %></td>
        <td><%= antecedent_hepatic.encefalopatia %></td>
        <td><%= antecedent_hepatic.discrasia %></td>
        <td><%= antecedent_hepatic.hiponatremia %></td>
      </tr>
    </tbody>
    <thead>
    <tr>
     <th>Comentarios</th>

    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= antecedent_hepatic.comentarios %></td>
      </tr>
    </tbody>
  </table>


<% if user_signed_in? %>

    <% if antecedent_hepatic.user_id == current_user.id %>

      <div class="links btn-group">

        <%= link_to "Editar", edit_patient_antecedent_hepatic_path(antecedent_hepatic.patient, antecedent_hepatic), class: "btn btn-custom" %>
        <%= link_to "Eliminar", patient_antecedent_hepatic_path(antecedent_hepatic.patient, antecedent_hepatic), method: :delete, data: {confirm: "Esta seguro ?"}, class: "btn btn-custom" %>
 
      </div>
    
    <% end %> 

  <% end %>


